.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
}


.section {
  padding-left: 10px;
  padding-right: 10px;
  margin-block-end: 40px;
}

.header {
  padding-block-start: 75px;
  padding-block-end: 66px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}
.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--dec-color);
  border-bottom: 1px solid var(--dec-color);
}
.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--dec-color);
  border-right: 1px solid var(--dec-color);
}

.header__rec-sign {
  display: var(--rec-sign-display);
  position: absolute;
  top: 15px;
  right: 28px;
}
.header__rec-sign::before {
  content: "REC";
  margin-right: 10px;
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 18px;
}
.header__rec-sign::after {
  content: "";
  position: absolute;
  top: 4.5px;
  width: 9px;
  height: 9px;
  background-color: var(--dec-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--dec-color);
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-item {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: normal;
  color: var(--dec-color);
  line-height: 18px;
}


.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 4px 13px;
  cursor: pointer;
  text-transform: lowercase;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--hover-brd-color);
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--dec-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--dec-color);
}

.header__title {
  font-family: var(--main-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 95.7px;
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.header__paragraph {
  background-color: var(--headings-bg-color);
  width: 100%;
}

.heading {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  color: var(--headings-text-color);
}

.content__title {
  margin-block-start: 40px;
  color: var(--accent-color);
}

.content__paragraph-list {
  list-style-type: none;
}

.content__paragraph-item {
  margin-block-start: 20px;
}

.paragraph-title {
  background-color: var(--accent-color);
  margin-block-end: 10px;
}

.paragraph-text {
  font-family: var(--main-font), serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  color: var(--main-text-color);
}

.paragraph-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.paragraph-subtitle {
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-weight: normal;
}

.content {
  margin-block-end: 80px;
}

.content__text-grid {
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.content__text-plain > .content__title {
  width: 20%;
}

.content__pic-grid_title {
  margin-block-end: 20px;
}

.pictures__grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.2fr 1.65fr;
  gap: 20px;
}

.pictures__grid-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-two {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img-five {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}